mat-toolbar {
    color: red;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: white;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}
.logo .logo-name span{
    color: black;
}
.logo .logo-name {
    font-size: 20px;
    font-weight: 800;
}
.logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.header-space {
    flex: 1 1 auto;
}

.header-elements {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}