<div class="container d-flex justify-content-center">
    <form>
        <div class="row mt-4">
            <h2>Restablecer contraseña</h2>
        </div>
        <div class="row mt-2">
            <mat-form-field class="example-full-width">
                <mat-label>Introduzca su email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>
        </div>
        <div class="row mt-2 d-flex justify-content-center">
            <button mat-flat-button color="primary" type="submit">Iniciar sesión</button>
        </div>
    </form>
</div>