<div class="container mt-5 mb-5">
    <div class="row">
        <div class="mt-1 col-md-4 col-xs-12">
            <h2>AprendeArabe</h2>
            <p>Disponemos de una gran variedad de niveles y temáticas.</p>
            <p>Aprende árabe con nuestras lecciones interactivas.</p>
            <p>Refuerza tu aprendizaje con nuestros tests.</p>
            <p>Observa tu progreso de aprendizaje con nuestros gráficos.</p>
            <p>Prueba las nuevas funciones disponibles, como el traductor árabe.</p>
            <p>Conoce lo más importante de la cultura árabe.</p>
        </div>
        <div class="mt-1 col-md-8 col-xs-12">
            <section>
                <img src="../../assets/img/Burj_Khalifa.jpg"/>
                <img src="../../assets/img/Cuscus.jpg"/>
                <img src="../../assets/img/Dromedario.jpg"/>
                <img src="../../assets/img/Futbol.jpg"/>
                <img src="../../assets/img/Piramides.jpg"/>
            </section>
        </div>
    </div>
</div>
    