<div class="container mt-4 mb-4">
    <div class="row">
        <h2>Formulario de registro en AprendeArabe</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="create()">
        <div class="row mb-1">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="firstName">
                    <mat-error *ngIf="form.get('firstName')?.invalid">{{firstNameError()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos" formControlName="lastName">
                    <mat-error *ngIf="form.get('lastName')?.invalid">{{lastNameError()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" name="birthdate" formControlName="birthdate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('birthdate')?.invalid">{{birthdateError()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>País</mat-label>
                    <mat-select name="countryId" formControlName="countryId">
                        <mat-option *ngFor="let country of countries" [value]="country.id"
                            style="display: flex; align-items: center;">
                            <img [src]="country.flag" style="width: 30px; height: auto; margin-right: 10px;">
                            <span>{{ country.name }}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('countryId')?.invalid">{{countryError()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="form.get('email')?.invalid">{{emailError()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" hintLabel="Max 9 números">
                    <mat-label>Teléfono</mat-label>
                    <input matInput #phone maxlength="9" placeholder="Telefono" formControlName="phone">
                    <mat-hint align="end">{{phone.value.length}}/9</mat-hint>
                    <mat-error *ngIf="form.get('phone')?.invalid">{{phoneError()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" hintLabel="Max 15 carácteres">
                    <mat-label>Nombre de usuario</mat-label>
                    <input #username maxlength="15" matInput placeholder="Nombre de usuario" formControlName="username">
                    <mat-hint align="end">{{username.value.length}}/15</mat-hint>
                    <mat-error *ngIf="form.get('username')?.invalid">{{usernameError()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
                    <a mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="form.get('password')?.invalid">{{passwordError()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Repita su contraseña</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="passwordRepeat">
                    <a mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="form.get('passwordRepeat')?.invalid">{{passwordRepeatError()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-checkbox class="d-flex justify-content-center" name="isTeacher" formControlName="isTeacher">Soy profesor!</mat-checkbox>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12 d-flex justify-content-center">
                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Registrarse</button>
            </div>
        </div>
    </form>
</div>